/* Reset & font */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cinzel", serif;
}

/* Navbar */
nav {
    position: relative;
    padding: 10px 50px;
    background: rgba(0, 0, 0, 0.6); /* semi-transparent */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    backdrop-filter: blur(2px);   /* modern glass effect */
    box-shadow:  0 1px 29px rgba(0, 0, 0, 1.3);
}

/* Logo */
nav h1 {
    color: white;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 3px 7px #ffffff99;

}
nav a{
    text-decoration: none;
}

/* Menu & search container */
nav ul {
    display: flex;
    align-items: center;
    gap: 100px;
}

/* Navbar links */
nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #142c39;
    color: white;
    transform: scale(1.02);
}

/* Search input */
nav ul input {
    padding: 15px 20px;
    border-radius: 20px;
    border: 2px solid #4a92ad;
    background-color: transparent;
    color: white;
    font-size: 15px;
    outline: none;
    transition: all 0.3s ease;
}

nav ul input::placeholder {
    color: #ccc;
}

nav ul input:focus {
    border-color: #ffffff;
    background-color: rgba(255,255,255,0.1);
}

.search-icon {
    font-size: 20px;
    margin-top: 2px;
    cursor: pointer;
    color: white;
    transition: transform 0.2s ease;
}

.search-icon:hover {
    transform: scale(1.2);
}

.search-input {
    padding: 10px 12px;
    border-radius: 10px;
    border: 2px solid #4a92ad;
    background-color: rgba(0,0,0,0.8);
    color: white;
    outline: none;
    width: 280px;
    transition: all 0.3s ease;
}

.search-input::placeholder {
    color: #ccc;
}
.search-input:focus {
    border-color: #4a92ad;  
}

#searchBtn{
    padding: 12px 30px;
    background-color:#4a92ad;
    color: white;
    margin-left: 10px;
    border: none;
    border-radius: 7px;
    font-weight: 700px;
    cursor: pointer;
}
#searchBtn:hover{
    background-color: #2c667b;
    transform: scale(1.01);
    transition: 0.3s;
}