
/* body{
  background-color: black;
} */

.HeroSectionHome{
  background-color: rgba(0, 0, 0, 0.588);
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -95px;
  z-index: -1;
}

.heroContent{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 4% auto;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;

}
.heroContent h1{
  font-size: 60px;
  width: 1022px;
  text-align: center;
  line-height: 92px;
  color: white;
  text-shadow: 0px 3px 7px #ffffff99;
  font-family: "Cinzel", serif;
  font-weight: 900;
  font-optical-sizing: auto;


}
.heroContent button{
  padding: 18px 35px;
  color: white;
  background-color: #132a3887;
  border: 2px solid white;
  border-radius: 5px;
  font-family: 'CINZEL';
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.topMoviesSection{
  position: relative;
  overflow: hidden;
  margin: 10px 11px;
    border-radius: 10px;
}
.topMoviesSection::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/i-know-what-you-did-3840x2160-22844.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  transform: scale(1.1); 
  z-index: -1;
}

.moviesSection{
  position: relative;
  overflow: hidden;
  margin: 120px 11px;
  border-radius: 10px;
}
.moviesSection::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/the-witcher-season-3840x2160-24316.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  transform: scale(1.1); 
  z-index: -1;
}



.movies-grid {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 28px;
  padding: 40px;
  border-radius: 10px;
  margin: 44px 10px;
}

/* Movie Card */
.movie-card {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  cursor: pointer;
  background: #111;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

/* Shadow + Slight Pop on Hover */
.movie-card:hover {
  transform: scale(1.06);
  box-shadow: 0 23px 23px #142c39cf;
}

/* Poster */
.movie-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
  border-radius: 14px;
  transition: transform 0.4s ease;
}

/* Slight Zoom on Hover */
.movie-card:hover img {
  transform: scale(1.18);
  filter: brightness(70%);
}

/* Overlay Info (hidden) */
.movie-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 18px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));
  color: white;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.35s ease;
  background-color: #0000004d;
}

/* Show info on hover */
.movie-card:hover .movie-info {
  opacity: 1;
  transform: translateY(0);
}

/* Title */
.movie-info h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Year  */
.movie-info p {
  margin: 3px 0 0;
  font-size: 14px;
  opacity: 0.85;
}

.titleMovieSection,.titleTopMovieSection{
  margin-top: 50px;
}
.moviesSection .titleMovieSection h1,.titleTopMovieSection h1{
  margin-left: 50px;
  font-weight: 900;
  color: white;
}
.titleMovieSection,.titleTopMovieSection{
  display: flex;
  justify-content: space-between;
}
.moviesSection .titleMovieSection img{
  margin-right: 50px;
  margin-top: 20px;
}

.titleTopMovieSection img{
  margin-right: 50px;
  margin-top: 20px;
}

/* -----------Categorie-------------- */
.SliderSectionCategorie{
  margin-top: 10%;
}
.SliderSectionCategorie h1{
  margin-left: 50px;
  color: #15304bd1;
}
.sliderWrapper {
  position: relative;
  margin: 0px 10px;
  border-radius: 8px;
  overflow: hidden;     /* hides other slides */
}

.sliderFlex {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
}

.categorieContainer {
  background-color: rgba(0, 0, 0, 0.588);
  background-blend-mode: multiply;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 0 100%;      
  max-width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content p {
  color: white;
  font-size: 24px;
  font-weight: 800;
  text-shadow: 0px 10px 12px black;
  width: 60%;
  text-align: center;
}

.content button {
  padding: 16px 71px;
  background-color: #0d1922ba;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid transparent;
}

.content button:hover {
  border: 2px solid white;
  transform: scale(1.02);
  transition: 0.3s;
}

/* ---- SLIDER ARROWS ---- */

.controls {
  position: absolute;
  top: 50%;
  left: 0;
  width: 97%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  transform: translateY(-50%);
  pointer-events: none;
}

.ctrlBtn {
  background: #000000a7;
  color: white;
  font-size: 40px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
  pointer-events: auto;    /* enable button clicks */
}

.ctrlBtn:hover {
  background: #ffffff30;
}

/* -----------Categorie-------------- */


.contactSection {
  background-image: url('../public//venom.jpg');
  padding: 60px 20px;
  background-color: rgba(0, 0, 0, 0.588);
  background-blend-mode: multiply;
  height: 120vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -95px;
}

.contactContainer {
  max-width: 500px;
  margin: 54px auto;
  background-color: transparent;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0px 12px 25px white;
  line-height: 17px;

}

.contactContainer h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

.contactContainer p {
  font-size: 1rem;
  margin-bottom: 30px;
  color: #ccc;
}

.contactForm .formGroup {
  margin-bottom: 20px;
  text-align: left;
}

.contactForm label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.contactForm input,
.contactForm textarea {
  width: 94%;
  padding: 12px 15px;
  border-radius: 8px;
  background-color: #132127a1;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
  border: 3px solid black;
  box-shadow: 0px 6px 11px black;
}
.contactForm input::placeholder,
.contactForm textarea::placeholder{
  color: white;
  font-family: "Cinzel", serif;
}

.contactForm input:focus,
.contactForm textarea:focus {
  box-shadow: 0 0 0 3px #15304bd1;
}

.sendBtn {
  background-color: #132127a1;
  color: #fff;
  font-weight: 700;
  padding: 17px 54px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  border: 3px solid black;
  box-shadow: 0px 6px 11px black;
  font-family: "Cinzel", serif;

}

.sendBtn:hover {
  background-color: #132127e9;
  transform: scale(1.05);
}


.venomBG {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
    font-family: "Cinzel", serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 12px;
    z-index: 1;
    pointer-events: none;
  
    /* Make text transparent */
    color: transparent;
  
    /* Image inside the text */
    background-image: url('../public/venom.jpg');
    background-size: cover;
    background-position: left -75%;
  
    /* Clip background to text */
    -webkit-background-clip: text;
    background-clip: text;
  
    /* Extra mysterious stroke outline */
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.15);
  }
  



  .alert {
    max-width: 350px;
    padding: 15px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
    color: #155724;
    background-color: #d4edda;
    border-left: 5px solid #28a745;
    opacity: 1;
    animation: slideIn 0.3s ease-out;
    z-index: 9999;
    position: absolute;
    right: 38%;
    top: 12%;
  }
  
  .alert-message {
    flex: 1;
    margin-right: 10px;
  }
  
  .alert-close {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #155724;
    cursor: pointer;
    line-height: 1;
  }
  
  /* Animation */
  @keyframes slideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  