

.HeroSectionHome{
  background-image:url('../public/WallpaperDog-10915418.jpg') ;
  background-color: rgba(0, 0, 0, 0.588);
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}

.heroContent{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 4% auto;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;

}
.heroContent h1{
  font-size: 60px;
  width: 1022px;
  text-align: center;
  line-height: 92px;
  color: white;
  text-shadow: 0px 3px 7px #ffffff99;
  font-family: "Cinzel", serif;
  font-weight: 900;
  font-optical-sizing: auto;


}
.heroContent button{
  padding: 18px 35px;
  color: white;
  background-color: #132a3887;
  border: 2px solid white;
  border-radius: 5px;
  font-family: 'CINZEL';
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 0.8px;
  cursor: pointer;
}
